Package: notes-dbgsym
Package-Type: ddeb
Source: notes
Version: 0.1.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Your Name <your.email@example.com>
Installed-Size: 1876
Depends: notes (= 0.1.0-1)
Section: debug
Priority: optional
Description: debug symbols for notes
Build-Ids: 1cfe3d4611622e802570f91cbb41cb9bde5f7d12
