[Desktop Entry]
Version=1.0
Type=Application
Name=Notes
Name[en]=Notes
Comment=Modern note taking application
Comment[en]=Modern note taking application
Exec=notes
Icon=notes
Terminal=false
Categories=Office;TextEditor;Qt;
Keywords=notes;markdown;text;editor;
StartupWMClass=notes
