[Desktop Entry]
Version=1.0
Type=Application
Name=Notes
Name[en]=Notes
Comment=Modern note taking application
Comment[en]=Modern note taking application
Exec=/usr/bin/notes
Icon=/usr/share/icons/hicolor/scalable/apps/notes.svg
Terminal=false
Categories=Office;TextEditor;Qt;
Keywords=notes;markdown;text;editor;
StartupWMClass=Notes
GenericName=Notes
GenericName[en]=Notes
X-AppImage-Integrate=false
X-GNOME-UsesNotifications=true
X-KDE-StartupNotify=true
MimeType=text/markdown;text/plain;
StartupNotify=true
X-DFM-StartupNotify=true
