#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release

override_dh_auto_install:
	dh_auto_install
	mkdir -p debian/notes/usr/bin
	mkdir -p debian/notes/usr/share/applications
	mkdir -p debian/notes/usr/share/icons/hicolor/16x16/apps
	mkdir -p debian/notes/usr/share/icons/hicolor/32x32/apps
	mkdir -p debian/notes/usr/share/icons/hicolor/48x48/apps
	mkdir -p debian/notes/usr/share/icons/hicolor/64x64/apps
	mkdir -p debian/notes/usr/share/icons/hicolor/128x128/apps
	mkdir -p debian/notes/usr/share/icons/hicolor/256x256/apps
	mkdir -p debian/notes/usr/share/icons/hicolor/scalable/apps
	cp obj-x86_64-linux-gnu/Notes debian/notes/usr/bin/notes
	cp debian/notes.desktop debian/notes/usr/share/applications/notes.desktop
	cp debian/icons/16x16/notes.png debian/notes/usr/share/icons/hicolor/16x16/apps/notes.png
	cp debian/icons/32x32/notes.png debian/notes/usr/share/icons/hicolor/32x32/apps/notes.png
	cp debian/icons/48x48/notes.png debian/notes/usr/share/icons/hicolor/48x48/apps/notes.png
	cp debian/icons/64x64/notes.png debian/notes/usr/share/icons/hicolor/64x64/apps/notes.png
	cp debian/icons/128x128/notes.png debian/notes/usr/share/icons/hicolor/128x128/apps/notes.png
	cp debian/icons/256x256/notes.png debian/notes/usr/share/icons/hicolor/256x256/apps/notes.png
	cp debian/icons/scalable/notes.svg debian/notes/usr/share/icons/hicolor/scalable/apps/notes.svg
